* {
    border: 2px dotted black;
}
body {
    background-color: powderblue;
}
img {
    max-width: 10%;
    max-height: 10%;
    border: thin dashed #555;
    border-radius: 50%;
}
h1, h2 {
    font-family:'Courier New', Courier, monospace;
}
a{
    font-size: large;
}
ul, ol {
    color:rgb(130, 22, 60);
}
#p1 {
    margin: 2cm;
    max-width: 4cm;
    padding: 30px;
    border: 1cm inset #24b104

}
#meem-img{
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 1cm;
    padding-bottom: 2cm;
}

#noon-img {
    margin-left: 30px;
    margin-bottom: 30px;
}

div {
    background-color: #555;
    min-height: 50px;
    min-width: 50px;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 55px 55px 55px 55px;
    grid-template-rows: 55px 55px 55px;
}

/*.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}